<div class="reset-password-content">
  <button (click)="goBack()" class="back-button" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Passwort zurücksetzen</h1>

  <form>
    <mat-form-field>
      <input [type]="passwordVisible ? 'text' : 'password'" matInput [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher" placeholder="Neues Passwort" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        autocomplete="new-password" />
      <mat-icon (click)="togglePasswordVisibility('password')"
        [fontIcon]="passwordVisible ? 'visibility_off' : 'visibility'"></mat-icon>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Bitte geben Sie ein Passwort ein.
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('pattern')">
        Das Passwort muss bestimmte Kriterien erfüllen.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input [type]="confirmPasswordVisible ? 'text' : 'password'" matInput [formControl]="confirmPasswordFormControl"
        [errorStateMatcher]="matcher" placeholder="Neues Passwort bestätigen"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        autocomplete="new-password" />
      <mat-icon (click)="togglePasswordVisibility('confirmPassword')"
        [fontIcon]="confirmPasswordVisible ? 'visibility_off' : 'visibility'"></mat-icon>
      <mat-error *ngIf="getConfirmPasswordError()">
        {{ getConfirmPasswordError() }}
      </mat-error>
    </mat-form-field>

    <div class="btn-div">
      <button mat-flat-button color="primary" [disabled]="isButtonDisabled()"
        [ngClass]="{ 'disabled-button': isButtonDisabled() }" routerLink="/reset-password" type="button">
        Passwort ändern
      </button>
    </div>
  </form>
</div>