.reset-password-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 0 32px 0 32px;
  max-width: 500px;
}

h1 {
  font-weight: 700 !important;
  font-size: 46px !important;
  width: max-content;
  color: #444DF2;
  margin: 0;
  padding: 10px;
  text-align: center;
  line-height: 1.2 !important;
}

.create-account-container {
  display: none !important;
}

.back-button {
  position: absolute !important;
  top: 34px;
  left: 34px;
  float: left;
}

.mat-mdc-unelevated-button {
  border-radius: 25px !important;
  color: white !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  height: 49px !important;
}

.mat-mdc-unelevated-button[disabled] {
  background-color: #686868 !important;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding-top: 22px;
}

.mat-mdc-form-field-infix {
  display: flex;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  width: 100%;
  background-color: rgba(236, 238, 254, 1) !important;
  border-radius: 100px;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border 0.3s ease;

  &:hover {
    background-color: rgba(236, 238, 254, 1) !important;
    border: 1px solid rgba(104, 104, 104, 1) !important;
  }

  &:focus-within,
  &:focus,
  &:active {
    background-color: rgba(236, 238, 254, 1) !important;
    border: 1px solid rgba(83, 90, 241, 1) !important;
  }
}

.mdc-line-ripple {
  display: none;
}


@media screen and (max-width: 768px) {
  h1 {
    width: auto;
  }

  .reset-password-content {
    gap: 0;
  }
}

@media screen and (max-width: 375px) {
  .reset-password-content {
    padding: 0 20px;
  }

  h1 {
    font-size: 32px !important;
  }

  .first-info-text,
  .second-info-text {
    font-size: 18px;
  }

  .mat-mdc-unelevated-button {
    height: 45px !important;
    font-size: 16px !important;
  }

  .mat-mdc-unelevated-button {
    font-size: 18px !important;
  }

  .back-button {
    left: 18px;
  }
}