.intro-animation-container {
  display: none !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #444DF2 !important;
  border-radius: 30px 30px 0px 30px !important;
  height: 89px;
  min-width: 244px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  background-color: #4caf50;
  color: white;
  animation: fadeIn 0.5s ease-in-out;
  position: fixed !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
    /* Von oben */
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mdc-snackbar__actions {
  display: none !important;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  text-align: center;
}

.send-mail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 0 32px 0 32px;
  max-width: 500px;
}

h1 {
  font-weight: 700 !important;
  font-size: 46px !important;
  width: max-content;
  color: #444DF2;
  margin: 0;
  padding: 10px;
  text-align: center;
  line-height: 1.2 !important;
}

.first-info-text {
  color: black;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.second-info-text {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #686868;
  font-weight: 400;
  font-size: 20px;
}

.create-account-container {
  display: none !important;
}

.back-button {
  position: absolute !important;
  top: 34px;
  left: 34px;
  float: left;
}

.mat-mdc-unelevated-button {
  border-radius: 25px !important;
  color: white !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  height: 49px !important;
  font-size: 20px !important;

}

.mat-mdc-unelevated-button[disabled] {
  background-color: #686868 !important;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding-top: 22px;
}

.mat-mdc-form-field-infix {
  display: flex;
  gap: 30px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  width: 100%;
  background-color: rgba(236, 238, 254, 1) !important;
  border-radius: 100px;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: border 0.3s ease;

  &:hover {
    background-color: rgba(236, 238, 254, 1) !important;
    border: 1px solid rgba(104, 104, 104, 1) !important;
  }

  &:focus-within,
  &:focus,
  &:active {
    background-color: rgba(236, 238, 254, 1) !important;
    border: 1px solid rgba(83, 90, 241, 1) !important;
  }
}

.mdc-line-ripple {
  display: none;
}


@media screen and (max-width: 768px) {
  h1 {
    width: auto;
  }
}

@media screen and (max-width: 375px) {
  .send-mail-content {
    padding: 0 20px;
  }

  h1 {
    font-size: 32px !important;
  }

  .first-info-text,
  .second-info-text {
    font-size: 18px;
  }

  .mat-mdc-unelevated-button {
    height: 45px !important;
    font-size: 16px !important;
  }

  .back-button {
    left: 18px;
  }
}