.welcome-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 40px 20px 40px;
    overflow-y: auto;
    overflow-x: hidden;

    >app-welcome-page {
        height: 100%;
        padding-top: 24px;
    }
}

.message-box {
    width: 100%;
    max-width: 1920px;
    margin-bottom: 172px;
}


@media screen and (max-width: 1080px) {
    .thread-container {
        max-width: none;
    }
}


@media screen and (max-width: 768px) {

    .mat-icon {
        height: 34px !important;
        width: 34px !important;
        font-size: 24px;
    }

    .message-container {
        padding: 0 15px;

        >.message-recieved {
            font-size: 16px;
        }

        >.message-sender {
            font-size: 16px;
        }
    }

    .message-received-container {
        padding: 15px !important;
        gap: 10px;

        >img {
            height: 50px;
            width: 50px;
        }
    }

    .message-sender-container {
        padding: 15px !important;
        gap: 10px;

        >img {
            height: 50px;
            width: 50px;
        }
    }

    .message-input-container {
        padding: 10px;
        margin-bottom: 0;
    }

    .welcome-page-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        overflow-y: auto;
        overflow-x: hidden;
    
        >app-welcome-page {
            padding-top: 0;
        }
    }
    
}

.file-preview {
    position: absolute;
    width: 110px;
    height: 60px;
    left: 30%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ADB0D9;
    border-radius: 20px;
    padding: 10px;
}

.file-preview img {
    max-width: 60px;
    max-height: 60px;
    display: block;
}

.file-preview a {
    display: inline-block;
}

.image-preview {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.file-link {
    height: 20px;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #a2e2a2;
    color: black;
    text-decoration: none;

    &:hover {
        background: #d1d3e7;
    }


}

.delete-upload {
    &:hover {
        background: #d1d3e7;
        color: red;
        border-radius: 50%;
        cursor: pointer;
    }
}

.search-block {
    position: absolute;
    height: auto;
    max-height: 220px;
    overflow-y: scroll !important;
    bottom: 110px;
    margin: 40px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #ADB0D9;
    z-index: 999;

}

/* Anpassung der Scrollbar */
.search-block::-webkit-scrollbar {
    display: block !important;
    width: 10px;
    /* Breite der Scrollbar */
}

.search-block::-webkit-scrollbar-thumb {
    background: #535AF1;
    /* Farbe des Scrollbalkens */
    border-radius: 5px;
    /* Runde Ecken */
}

.search-block::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Farbe des Scrolltrack */
}

.found-block {
    display: flex;
    flex-direction: column;
    gap: 14px;
    min-height: 100%;
    scrollbar-width: thin !important;
    /* Schmale Scrollbar */
    scrollbar-color: #535AF1 #f1f1f1;
    /* Farbe Scrollbar und Track */
    overflow-y: scroll;
}

.found-users {
    display: flex;
    align-items: center;
    gap: 14px;
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;

    >img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 480px) {
    .chat-header-button>span {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .chat-header-button>span {
        font-size: 16px;
    }
}