<div class="container">
    <div class="headline">
        <h3>Dein Profil bearbeiten</h3>
        <img src="../../../assets/images/icons/close.png" alt="" (click)="closeUserProfileEditor()">
    </div>
    <!-- <img *ngIf="openAvatarSelector" src="{{ this.selectedAvatar }}" alt="" class="avatar-img edit-avatar"> -->
    <img src="{{ this.avatarPath }}" alt="" class="avatar-img edit-avatar" (click)="openAvatarSelection()">

    <div class="name-container" *ngIf="!openAvatarSelector">
        <h2>{{ this.authService.currentUser()?.name }}</h2>
    </div>
    <form (ngSubmit)="onSubmit(editForm)" #editForm="ngForm" *ngIf="!openAvatarSelector">
        <div class="input-container">
            <label for="name"><img src="../../../assets/images/icons/account_circle.png">Vollständiger Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="fullname" #name="ngModel"
                placeholder="{{ this.authService.currentUser()?.name }}">
        </div>
        <div class="input-container">
            <label for="name"><img src="../../../assets/images/icons/mail.png" alt="">E-Mail-Adresse</label>
            <input [disabled]="this.authService.currentUser()?.id === 'ZnyRrhtuIBhdU3EYhDw5DueQsi02'"
                [ngClass]="{disabled: this.authService.currentUser()?.id === 'ZnyRrhtuIBhdU3EYhDw5DueQsi02'}"
                [ngClass]="email" type="email" id="email" name="email" #email="ngModel" [(ngModel)]="mail"
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                placeholder="{{ this.authService.currentUser()?.email }}">
        </div>
        @if (email.touched && !email.valid) {
        <span class="error-message">Bitte geben sie eine gültige E-Mail-Adresse ein</span>
        }
        @else if (authService.errorCode == 'auth/requires-recent-login') {
        <span class="error-message">Ihr letzter Login ist zu lange her<br> Bitte loggen sie nich erneut ein.</span>
        } @else if (authService.errorCode == 'no error') {
        <span class="error-message">Eine Email zum Bestätigen der Änderung <br> wurde an ihre E-Mail-Adresse
            gesendet</span>
        } @else if (changesSuccessful()) {
        <span class="error-message" style="color: #444DF2;">Ihre Änderungen wurden erfolgreich gespeichert</span>
        }

        <div class="form-actions">
            <div class="btn-no-style cancel-btn" (click)="closeUserProfileEditor()">Abbrechen
            </div>
            <input type="submit" value="Speichern" class="btn-no-style submit-btn">
        </div>
    </form>
    <div class="container avatar-selection" *ngIf="openAvatarSelector">
        <div class="avatar-selection-content">
            <h3>Wähle deinen Avatar</h3>
            <div class="avatar-selection-container">
                <div class="avatar-selection-item" *ngFor="let avatar of this.avatarsService.avatars"
                    (click)="chooseAvatar(avatar)">
                    <img [src]="avatar" alt="Avatar">
                </div>
            </div>
            <div class="form-actions">
                <div class="btn-no-style cancel-btn" (click)="closeAvatarSelection()">Abbrechen
                </div>
                <div class="btn-no-style submit-btn" (click)="saveAvatar()">Speichern</div>
            </div>
        </div>
    </div>
</div>