.thread-content {
  width: 100%;
  box-sizing: border-box;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin-top: 84px;
  margin-bottom: 68px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 26px;
}

.thread-message-container {
  display: flex;
  height: fit-content;
  gap: 16px;
  padding: 20px 40px 20px 40px !important;
  position: relative;
  transition: background 0.3s ease;
  width: -webkit-fill-available;

  &:hover {
    background-color: #ECEEFE;

    .thread-message-bubble {
      background-color: white;
    }

    .emoji-box,
    .user-emoji-box {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      animation: slideIn 0.3s forwards;
    }
  }
}

.user-message-container {
  flex-direction: row-reverse;
}

.thread-message-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thread-message-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.thread-message-bubble {
  background-color: #ECEEFE;
  border-radius: 30px;
  border-top-left-radius: 0;
  font-size: 18px;
  font-weight: 400;
  padding: 16px;
}

.thread-message-sender {
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    color: #797EF3;
  }
}

.thread-message-time {
  font-size: 14px;
  font-weight: 400;
  color: #686868;
}

.answers {
  display: flex;
  color: #ADB0D9;
  align-items: center;
  font-size: 18px;
  gap: 16px;
  padding: 24px 40px;
  width: -webkit-fill-available;
  white-space: nowrap;
}

.line {
  height: 1px;
  background-color: black;
  width: 69%;
  background-color: #ADB0D9;
  width: 100%;
}

.user-message-info {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: row-reverse;
}

.user-message-bubble {
  background-color: #797EF3;
  border-radius: 30px;
  border-top-right-radius: 0;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 16px;
}

.mat-icon {
  height: 40px !important;
  width: 40px !important;
  cursor: pointer;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.emoji-mart {
  border-radius: 30px 30px 30px 30px;
  position: absolute;
  bottom: 212px;
  left: 86px;
  z-index: 9999;
}

.emoji-box {
  position: absolute;
  right: 40px;
  top: -24px;
  background-color: white;
  border: 0.5px solid #686868;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  padding: 3px 12px;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
}

.user-emoji-box {
  display: flex;
  left: 40px;
  right: auto;
}

.thread-show-reactions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;

  h3 {
    margin: 0;
  }

  >.thread-reaction-icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    height: 34px;
    width: 64px;
    border-radius: 30px;
    border: 1px solid rgba(173, 176, 217, 1);
    cursor: pointer;

    &:hover {
      .thread-reaction-name-popup {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }
    }
  }
}

.thread-reaction-name-popup {
  background-color: rgba(83, 90, 241, 1);
  height: 112px;
  width: 158px;
  border-radius: 30px 30px 30px 0px;
  position: absolute;
  bottom: 36px;
  left: 34px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(80px);
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

  >h3 {
    font-weight: 700;
    font-size: 18px;
  }

  >span {
    font-weight: 400;
    font-size: 16px;
  }
}

.thread-message-edit-container {
  position: relative;
  height: 145px;
  width: 100%;
  box-sizing: border-box;

  >.thread-edit-textarea {
    background-color: white !important;
    border: 1px solid rgba(173, 176, 217, 1) !important;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: Nunito;
    font-size: 18px;
    resize: none;
    hyphens: auto;
  }
}

.thread-edit-message {
  width: max-content;
  background-color: white;
  padding: 8px 0;
  gap: 5px;
  border-radius: 0px 30px 30px 30px;
  border: 1px solid rgba(173, 176, 217, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 16px;
  transform: translateX(80px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

  >span {
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: black;

    &:hover {
      background: #ECEEFE;
      transition: background 0.3s ease;
      color: #535AF1;
    }
  }
}

.thread-message-edit-buttons {
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  right: 0;
  padding: 10px;
  align-items: center;
  cursor: default;
}

.thread-message-edit-action {
  display: flex;
  align-items: center;
  gap: 10px;

  >.save-btn {
    background: #444DF2;
    color: white;

    &.disabled {
      background: #444df2c7;
      cursor: not-allowed;
    }
  }

  >button {
    border-radius: 30px;
    height: 38px;
    cursor: pointer;
    color: #444DF2;
    font-size: 18px;
    font-weight: 700;
    background: white;
    border: 1px solid #797EF3
  }
}

@media screen and (max-width: 375px) {

  .thread-message-container{
      padding: 15px !important;
  }

  .answers {
    padding: 24px 15px;
  }
}