.thread-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 485px;
  border-radius: 16px !important;
  box-sizing: border-box;
}

.thread-header {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  position: absolute;
  top: 0;
  height: 96px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thread-header-content {
  display: flex;
  align-items: center;
  gap: 6px;
}

.thread-header-title {
  margin: 0 !important;
  font-weight: 700 !important;
  font-size: 24px !important;
}

.thread-header-subtitle {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  color: #797EF3;
}

.close-btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.user-list {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px 0;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  border-bottom-left-radius: 0;
  bottom: 38px;
  left: 164px;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  cursor: pointer;

  &:hover {
    background-color: #ECEEFE;
  }
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-size: 14px;
  color: #333;
}

@media screen and (max-width: 768px) {
  .thread-header {
      height: 60px !important;
      padding: 0 20px 0 20px !important;
  }

  .thread-content{
      margin-top: 48px !important;
  }

  .avatar {
      height: 50px !important;
      width: 50px !important;
  }
}

@media screen and (max-width: 375px) {
  .thread-message-container{
      padding: 15px !important;
  }
}