h1 {
  color: #444DF2;
  font-size: 46px !important;
  font-weight: 700 !important;
  padding-top: 64px;
  line-height: 1.2 !important;
}

h2 {
  color: #444DF2;
  font-size: 32px !important;
  font-weight: 700 !important;
  padding-top: 36px;
}

h3 {
  color: #444DF2;
  font-weight: 700 !important;
  font-size: 20px !important;
}

h4 {
  font-weight: 600 !important;
}

.back-button {
  position: absolute !important;
  top: 34px;
  left: 34px;
  float: left;
}

.create-account-container {
  display: none !important;
}

.content {
  overflow-y: auto;
  border-radius: 30px;
  word-break: break-word;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.intro-animation-container {
  display: none !important;
}