<button (click)="goBack()" class="back-button" mat-icon-button>
  <mat-icon>arrow_back</mat-icon>
</button>

<h1>Impressum</h1>

<div class="content">
  <div class="contact-info">
    <p>Preston Jones</p>
    <p>Musterstrasse 1</p>
    <p>57575 Musterstadt</p>
  </div>

  <div class="contact-info">
    <p>Alexander Sinner</p>
    <p>Musterstrasse 1</p>
    <p>57575 Musterstadt</p>
  </div>

  <div class="contact-info">
    <p>Moritz Mayer-Eckardt</p>
    <p>Musterstrasse 1</p>
    <p>57575 Musterstadt</p>
  </div>

  <div class="contact-info">
    <p>Rio Stenger</p>
    <p>Musterstrasse 1</p>
    <p>57575 Musterstadt</p>
  </div>

  <div class="email-info">
    <h2>Contact:</h2>
    <p>Email: <a href="mustermann@muster.com">mustermann&#64;muster.com</a></p>
    <p>Email: <a href="mustermann@muster.com">mustermann&#64;muster.com</a></p>
    <p>Email: <a href="mustermann@muster.com">mustermann&#64;muster.com</a></p>
    <p>Email: <a href="mustermann@muster.com">mustermann&#64;muster.com</a></p>
  </div>
</div>
