<main>
    <h2>Willkommen, {{ this.authService.currentUser()?.name }}.</h2>
    <p>
        NexChat ist deine neue Kommunikationsplattform für einfaches und intuitives Vernetzen mit deiner Community.
        <br />Ob im Team oder privat – mit Channels und Direktnachrichten bleibst du immer auf dem Laufenden.
    </p>

    <article>
        <h3>Das erwartet dich bei NexChat:</h3>
        <ul>
            <li class="channel">
                <strong>Channels erstellen & organisieren</strong>
                <br />Strukturiere deine Kommunikation mit Channels für Teams, Projekte oder bestimmte Themen und halte alle auf dem neuesten Stand.
            </li>
            <li class="message">
                <strong>Direktnachrichten</strong>
                <br />Sende private Nachrichten an Kollegen oder Freunde und kommuniziere schnell & sicher.
            </li>
            <li class="emoji">
                <strong>Emoji-Reaktionen</strong>
                <br />Verleihe deinen Nachrichten eine persönliche Note mit einer großen Auswahl an Emojis.
            </li>
            <li class="search">
                <strong>Smarte Suchfunktion</strong>
                <br />Finde Nachrichten, Channels oder Kontakte blitzschnell und effizient.
            </li>
            <li class="file">
                <strong>Dateien teilen</strong>
                <br />Bilder, PDFs oder andere Dateien – tausche Ideen direkt im Chat aus.
            </li>
        </ul>
    </article>

    <article *ngIf="this.authService.currentUser()?.id === 'ZnyRrhtuIBhdU3EYhDw5DueQsi02'">
        <ul>
            <li class="warning">
                <strong>Bitte beachte:</strong>
                <br />
                Als Gast kannst du keine Dateien hochladen und kein eigenes Profilfoto hochladen.
                <br />
                <br />
                Beim Ausloggen wird dein gesamter erstellter Content vollständig gelöscht. Stelle sicher, dass du
                alles abgeschlossen hast, bevor du dich abmeldest.
            </li>
        </ul>
    </article>
    <hr />
    <article>
        <p>
            Nutze die Logout-Funktion oben rechts im Profil-Menü um dich abzumelden. ☝️
        </p>
        <p>
            Nach 15 Minuten Inaktivität wird deine Session automatisch beendet und du wirst ausgeloggt.
            <br />
            <br />
            Du kannst dich jederzeit wieder anmelden, um deine Nachrichten und Channels zu sehen.
        </p>
    </article>
    <strong>Starte jetzt und entdecke NexChat</strong>
    <br />
</main>