<main>
    <h2>Willkommen {{ this.authService.currentUser()?.name }}</h2>
    <p>
      DABubble ist deine neue Kommunikationsplattform und verbindet dich einfach
      und intuitiv mit deiner Community.
      <br />Ob im Team oder privat: Mit Channels und Direktnachrichten bleibst du
      immer auf dem Laufenden.
      <br />
      Wir freuen uns, dich an Bord zu haben!
    </p>
  
    <article>
      <h3>Das bietet dir DABubble:</h3>
      <ul>
        <li>
          <strong>Channels erstellen und organisieren:</strong>
          <br />Erstelle Channels für Teams, Projekte oder Themen und halte alle
          auf dem neuesten Stand.
        </li>
        <li>
          <strong>Direktnachrichten:</strong>
          <br />Kommuniziere privat und diskret mit Kollegen oder Freunden.
        </li>
        <li>
          <strong>Emoji-Reaktionen und erweiterte Formatierung:</strong>
          <br />Reagiere mit Emojis und gestalte deine Nachrichten individuell.
        </li>
        <li>
          <strong>Suchfunktion:</strong>
          <br />Finde schnell Nachrichten, Channels oder Kontakte.
        </li>
        <li>
          <strong>Anhängen von Dateien:</strong>
          <br />Teile deine Ideen in Form von Bildern und PDF.
        </li>
      </ul>
    </article>
  
    <article>
      <h3>Neue und erweiterte Funktionen</h3>
      <ul>
        <li>
          <strong>Benachrichtigungen bei neuen Nachrichten:</strong>
          <br />Gibt es etwas Neues in einem deiner Chats oder Channels siehst du
          es sofort im Workspace-Menü.
        </li>
        <li>
          <strong>Erweiterte Emojis:</strong>
          <br />Wähle aus einer großen Emoji-Bibliothek, um deine Message
          persönlich und ganz nach deinem Geschmack zu gestalten.
        </li>
        <li>
          <strong>Clevere, leistungsstarke Suche:</strong>
          <br />
          Finde Nachrichten, Channels oder Mitglieder schnell und effizient –
          global oder kontextbasiert, sortiert nach Relevanz.
        </li>
      </ul>
    </article>
    <strong>Viel Freude beim Erkunden von DABubble!</strong>
    <br />
  </main>