<div class="chat-container max-width">
    <div class="chat-header">
        <div class="selected-user" (click)="this.getSelectedUserInfo(userService.selectedUser?.id)"><img
                [src]="userService.selectedUser?.avatarPath" alt="">
            <span *ngIf="userService.selectedUserId === this.currentUser?.id">{{ currentUser?.name + ' (Du)' }}</span>
            <span *ngIf="userService.selectedUserId != this.currentUser?.id">{{ userService.selectedUser?.name }}</span>
        </div>
    </div>
    <div #chatWindow class="chat-content">

        <span *ngIf="directMessageService.selectedUser?.id === this.currentUser?.id" class="message-received-container"
            id="info-text">
            Dies ist dein <strong>persönlicher Space</strong>. Hier kannst du dir Notizen machen, To-Dos auflisten, oder
            Links und Files
            griffbereit ablegen.
            Du kannst hier auch Dinge mit dir selbst besprechen.
        </span>

        <!-- NOTES WINDOW -->

        <div class="message-box" *ngIf="directMessageService.selectedUser?.id === this.currentUser?.id">
            <div class="message-content" *ngFor="let note of noteService.notes; let i = index">
                <div *ngIf="note.displayDate" class="posted-date-container">
                    <span class="posted-date">{{ note.displayDate }}</span>
                </div>
                <div class="message-received-container full-width">

                    <div class="message-container full-width" (mouseleave)="closeEditMessageBox()">
                        <div *ngIf="!isEditing(note.noteId)" class="message-container">
                            <div class="reaction-container-received">
                                <div class="reaction-icon"><img src="./assets/images/reaction/check_mark.png"
                                        alt="Check Mark"
                                        (click)="addOrUpdateReaction(note, './assets/images/reaction/check_mark.png')">
                                </div>
                                <div class="reaction-icon"><img src="./assets/images/reaction/hands_up.png"
                                        alt="Hands Up"
                                        (click)="addOrUpdateReaction(note, './assets/images/reaction/hands_up.png')">
                                </div>
                                <div (click)="showEmojiForReact(note)" class="reaction-icon">
                                    <mat-icon fontIcon="add_reaction"></mat-icon>
                                </div>
                                <div (click)="showMessageEditToggle()" class="reaction-icon edit-message-icon"><mat-icon
                                        fontIcon="more_vert"></mat-icon></div>
                                <div *ngIf="note.noteId && showMessageEdit" class="edit-message">
                                    <span (click)="editMessage(note.noteId, note.note)">Notiz
                                        bearbeiten</span>
                                </div>
                            </div>
                            <span class="message-infos-sender">
                                <span class="message-time">{{ note.formattedTimestamp }}</span>
                            </span>
                            <span class="message-recieved">
                                <p [innerHTML]="messagesService.formatMessageContent(note.note)"></p>
                                <!-- Bildvorschau für URLs, die Bilddateien sind -->
                                <a *ngIf="isImageFile(note.fileURL)" [href]="note.fileURL" target="_blank">
                                    <img class="image-preview" [src]="note.fileURL" alt="Bildvorschau" width="100%" />
                                </a>
                                <!-- Datei-Link für alle anderen Dateitypen -->
                                <a *ngIf="note.fileURL && !isImageFile(note.fileURL) && !note.fileURL?.endsWith('.pdf')"
                                    class="file-link" [href]="note.fileURL" target="_blank"> {{
                                    getFileNameFromURL(note.fileURL) }}</a>
                            </span>

                            <div class="show-reactions">
                                <div class="reaction-icon-button" *ngFor="let reaction of note.reactions"
                                    (click)="addOrUpdateReaction(note, reaction.emoji)">

                                    <!-- Überprüfung, ob reaction.emoji ein Bildpfad ist -->
                                    <ng-container *ngIf="reaction.emoji.includes('.png'); else emojiText">
                                        <img [src]="reaction.emoji" alt="Reaction Icon" class="reaction-image">
                                    </ng-container>
                                    <ng-template #emojiText>
                                        {{ reaction.emoji }}
                                    </ng-template>

                                    <!-- Popup zur Anzeige der Namen und der Reaktionsbeschreibung -->
                                    <div class="reaction-name-popup">
                                        <ng-container *ngIf="reaction.emoji.includes('.png'); else emojiText">
                                            <img [src]="reaction.emoji" alt="Reaction Icon" class="reaction-image">
                                        </ng-container>
                                        <h3>

                                            {{ formatSenderNames(reaction.senderName, reaction.senderID) }}
                                        </h3>
                                        <span>{{ getReactionVerb(reaction.senderName, reaction.senderID) }}</span>
                                    </div>

                                    <!-- Reaktionsanzahl anzeigen -->
                                    {{ reaction.count }}
                                </div>

                            </div>
                        </div>
                        <div *ngIf="isEditing(note.noteId)" class="message-edit-container">
                            <textarea class="message-editor-textarea" id="edit-message" type="text"
                                [(ngModel)]="editedMessage" wrap=physical></textarea>
                            <div class="message-edit-buttons">
                                <div (click)="showEmojiForEdit()" class="message-icon">
                                    <mat-icon fontIcon="sentiment_satisfied"></mat-icon>
                                </div>
                                <div class="message-edit-action">
                                    <button (click)="closeMessageEdit()">Abbrechen</button>
                                    <button (click)="saveMessage(note)" class="save-btn">Speichern</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- ------- -->

        <!-- CHAT WINDOW -->
        <div class="message-box" *ngIf="directMessageService.selectedUser?.id != this.currentUser?.id">
            <div class="message-content"
                *ngFor="let message of directMessageService.currentConversation; let i = index">
                <div *ngIf="message.displayDate" class="posted-date-container">
                    <span class="posted-date">{{ message.displayDate }}</span>
                </div>
                <div *ngIf="!message.isOwnMessage" class="message-received-container">
                    <img class="sender-avatar" [src]="message.senderAvatar" alt="">
                    <div class="message-container">
                        <div class="reaction-container-received">
                            <div class="reaction-icon"><img src="./assets/images/reaction/check_mark.png"
                                    alt="Check Mark"
                                    (click)="addOrUpdateReaction(message, './assets/images/reaction/check_mark.png')">
                            </div>
                            <div class="reaction-icon"><img src="./assets/images/reaction/hands_up.png" alt="Hands Up"
                                    (click)="addOrUpdateReaction(message, './assets/images/reaction/hands_up.png')">
                            </div>
                            <div (click)="showEmojiForReact(message)" class="reaction-icon">
                                <mat-icon fontIcon="add_reaction"></mat-icon>
                            </div>

                        </div>
                        <span class="message-infos-sender">
                            <span class="sender-name" (click)="this.getSelectedUserInfo(message.senderId)">
                                {{message.senderName }}
                            </span>
                            <span class="message-time">{{ message.formattedTimestamp }}</span>
                        </span>
                        <span class="message-recieved">
                            <p [innerHTML]="messagesService.formatMessageContent(message.message)"></p>
                            <!-- Bildvorschau für URLs, die Bilddateien sind -->
                            <a *ngIf="isImageFile(message.fileURL)" [href]="message.fileURL" target="_blank">
                                <img class="image-preview" [src]="message.fileURL" alt="Bildvorschau" width="100%" />
                            </a>
                            <!-- Datei-Link für alle anderen Dateitypen -->
                            <a *ngIf="message.fileURL && !isImageFile(message.fileURL) && !message.fileURL?.endsWith('.pdf')"
                                class="file-link" [href]="message.fileURL" target="_blank"> {{
                                getFileNameFromURL(message.fileURL) }}</a>
                        </span>

                        <div class="show-reactions">
                            <div class="reaction-icon-button" *ngFor="let reaction of message.reactions"
                                (click)="addOrUpdateReaction(message, reaction.emoji)">

                                <!-- Überprüfung, ob reaction.emoji ein Bildpfad ist -->
                                <ng-container *ngIf="reaction.emoji.includes('.png'); else emojiText">
                                    <img [src]="reaction.emoji" alt="Reaction Icon" class="reaction-image">
                                </ng-container>
                                <ng-template #emojiText>
                                    {{ reaction.emoji }}
                                </ng-template>

                                <!-- Popup zur Anzeige der Namen und der Reaktionsbeschreibung -->
                                <div class="reaction-name-popup">
                                    <ng-container *ngIf="reaction.emoji.includes('.png'); else emojiText">
                                        <img [src]="reaction.emoji" alt="Reaction Icon" class="reaction-image">
                                    </ng-container>
                                    <h3>

                                        {{ formatSenderNames(reaction.senderName, reaction.senderID) }}
                                    </h3>
                                    <span>{{ getReactionVerb(reaction.senderName, reaction.senderID) }}</span>
                                </div>

                                <!-- Reaktionsanzahl anzeigen -->
                                {{ reaction.count }}
                            </div>

                        </div>
                    </div>
                </div>


                <div *ngIf="message.isOwnMessage" class="message-sender-container">
                    <img class="sender-avatar" [src]="authService.currentUser()?.avatarPath" alt="">

                    <div class="message-area-container" (mouseleave)="closeEditMessageBox()">
                        <div *ngIf="!isEditing(message.messageId)" class="message-container">
                            <div class="reaction-container-sender">
                                <div class="reaction-icon"><img src="./assets/images/reaction/check_mark.png"
                                        alt="Check Mark"
                                        (click)="addOrUpdateReaction(message, './assets/images/reaction/check_mark.png')">
                                </div>
                                <div class="reaction-icon"><img src="./assets/images/reaction/hands_up.png"
                                        alt="Hands Up"
                                        (click)="addOrUpdateReaction(message, './assets/images/reaction/hands_up.png')">
                                </div>
                                <div (click)="showEmojiForReact(message)" class="reaction-icon">
                                    <mat-icon fontIcon="add_reaction"></mat-icon>
                                </div>
                                <div (click)="showMessageEditToggle()" class="reaction-icon edit-message-icon"><mat-icon
                                        fontIcon="more_vert"></mat-icon></div>
                                <div *ngIf="message.messageId && showMessageEdit" class="edit-message">
                                    <span (click)="editMessage(message.messageId, message.message)">Nachricht
                                        bearbeiten</span>
                                </div>
                            </div>

                            <span class="message-infos-reciever">
                                <span class="my-name" (click)="openUserProfile($event)">
                                    {{ message.senderName }}
                                </span>
                                <span class="message-time">{{
                                    message.formattedTimestamp }}
                                    Uhr
                                </span>
                            </span>
                            <span class="chat-message-sender">
                                <p [innerHTML]="messagesService.formatMessageContent(message.message)"></p>
                                <!-- Bildvorschau für URLs, die Bilddateien sind -->
                                <a *ngIf="isImageFile(message.fileURL)" [href]="message.fileURL" target="_blank">
                                    <img class="image-preview" [src]="message.fileURL" alt="Bildvorschau"
                                        width="100%" />
                                </a>
                                <!-- Datei-Link für alle anderen Dateitypen -->
                                <a *ngIf="message.fileURL && !isImageFile(message.fileURL) && !message.fileURL?.endsWith('.pdf')"
                                    class="file-link" [href]="message.fileURL" target="_blank">{{
                                    getFileNameFromURL(message.fileURL)
                                    }}</a>

                            </span>

                            <div class="show-reactions">
                                <div class="reaction-icon-button" *ngFor="let reaction of message.reactions"
                                    (click)="addOrUpdateReaction(message, reaction.emoji)">

                                    <!-- Überprüfung, ob reaction.emoji ein Bildpfad ist -->
                                    <ng-container *ngIf="reaction.emoji.includes('.png'); else emojiText">
                                        <img [src]="reaction.emoji" alt="Reaction Icon" class="reaction-image">
                                    </ng-container>
                                    <ng-template #emojiText>
                                        {{ reaction.emoji }}
                                    </ng-template>

                                    <!-- Popup zur Anzeige der Namen und der Reaktionsbeschreibung -->
                                    <div class="reaction-name-popup">
                                        <ng-container *ngIf="reaction.emoji.includes('.png'); else emojiText">
                                            <img [src]="reaction.emoji" alt="Reaction Icon" class="reaction-image">
                                        </ng-container>
                                        <h3>

                                            {{ formatSenderNames(reaction.senderName, reaction.senderID) }}
                                        </h3>
                                        <span>{{ getReactionVerb(reaction.senderName, reaction.senderID) }}</span>
                                    </div>

                                    <!-- Reaktionsanzahl anzeigen -->
                                    {{ reaction.count }}
                                </div>

                            </div>
                        </div>

                        <div *ngIf="isEditing(message.messageId)" class="message-edit-container">
                            <textarea class="message-editor-textarea" id="edit-message" type="text"
                                [(ngModel)]="editedMessage" wrap=physical></textarea>
                            <div class="message-edit-buttons">
                                <div (click)="showEmojiForEdit()" class="message-icon">
                                    <mat-icon fontIcon="sentiment_satisfied"></mat-icon>
                                </div>
                                <div class="message-edit-action">
                                    <button (click)="closeMessageEdit()">Abbrechen</button>
                                    <button (click)="saveMessage(message)" class="save-btn">Speichern</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <!-- ------- -->

        <!-- MESSAGE TEXTAREA -->
        <div class="chat-message-input-container">
            <textarea #directChatMessageTextarea class="message-input" id="directChatMessage"
                [(ngModel)]="directChatMessage" (input)="updateSearchQuery($event)" type="text"
                placeholder="Schreiben Sie Ihre Nachricht">
            </textarea>
            <!-- ------- -->

            <div class="message-icon-container">
                <div class="left-icon-container">
                    <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
                    <div class="message-icon" (click)="triggerFileInput()">
                        <mat-icon fontIcon="add"></mat-icon>
                    </div>
                    <div class="separator"></div>
                    <div (click)="showEmoji()" class="message-icon"><mat-icon fontIcon="sentiment_satisfied"></mat-icon>
                    </div>
                    <div (click)="toggleSearch()" class="message-icon"><mat-icon fontIcon="alternate_email"></mat-icon>
                    </div>

                    <div *ngIf="filePreviewUrl" class="file-preview">
                        <img *ngIf="selectedFile && selectedFile.type.startsWith('image/')" [src]="filePreviewUrl"
                            alt="Dateivorschau" />
                        <a *ngIf="selectedFile && selectedFile.type === 'application/pdf'" [href]="filePreviewUrl"
                            target="_blank">PDF
                            anzeigen</a>
                        <mat-icon class="delete-upload" fontIcon="close" (click)="clearUploadCache()"></mat-icon>
                    </div>

                </div>
                <div class="right-icon-container">
                    <div (click)="sendMessage()" id="sendMessage" class="message-icon send"><mat-icon fontIcon="send"
                            disabled></mat-icon>
                    </div>
                </div>
            </div>
            <emoji-mart class="emoji-mart-chat" *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)"
                [darkMode]="false" title="Pick your emoji…" emoji="point_up">
            </emoji-mart>
            <emoji-mart class="emoji-mart-chat" *ngIf="showEmojiPickerEdit" (emojiSelect)="addEmojiForEdit($event)"
                [darkMode]="false" title="Pick your emoji…" emoji="point_up">
            </emoji-mart>
            <emoji-mart class="emoji-mart-chat" *ngIf="showEmojiPickerReact" (emojiSelect)="addEmojiForReact($event)"
                [darkMode]="false" title="Pick your emoji…" emoji="point_up">
            </emoji-mart>
        </div>

        <div class="search-block"
            *ngIf="(isSearching && filteredUsers.length > 0) || (isUserSelect && filteredUsers.length > 0)">
            <div class="found-block">
                <div class="found-users" *ngFor="let user of filteredUsers" (click)="selectUser(user)">
                    <img [src]="user.avatarPath" alt="">{{ user.name }}
                </div>
            </div>
        </div>

        <div class="search-block" *ngIf="isSearching && filteredChannels.length > 0">
            <div class="found-block">
                <div class="found-users" *ngFor="let channel of filteredChannels; let i = index"
                    (click)="selectChannel(channel)">
                    <span>#</span>{{ channel.name }}
                </div>
            </div>
        </div>
    </div>
</div>